@import 'variables';
@import 'card';
@import 'stars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  background: #f7f7f7;
  color: $color-text;
  display: flex;
  align-items: center;
  justify-content: center;
}

p,
h3 {
  margin-block: 0;
}

